* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: hsl(30, 38%, 92%);
  font-family: "Fraunces", serif;
  font-family: "Montserrat", sans-serif;
}
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 600px;
  background: hsl(0, 0%, 100%);
  border-radius: 0.5em;
  overflow: hidden;
}
.container-item {
  flex: 1;
  display: flex;
  border-radius: 5px;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 0px 40px 0px 30px;
}
.image {
  filter: brightness(95%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-type {
  font-size: 0.8rem;
  letter-spacing: 0.3em;
  color: hsl(0, 0%, 50%);
  margin-top: 2.4em;
  margin-bottom: calc(25px - 1em);
  text-transform: uppercase;
}

.title {
  font-family: "Fraunces", serif;
  font-size: 2.3em;
  margin-bottom: 1.3rem;
}
.description {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  color: hsl(0, 0%, 50%);
  margin-bottom: 1.6rem;
}
.price {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.current-price {
  font-family: "Fraunces", serif;
  font-size: 2em;
  margin-right: 10px;
  color: hsl(158, 36%, 37%);
}

.last-price {
  font-size: 0.8em;
  text-decoration: line-through;
  color: hsl(0, 0%, 50%);
  margin-left: 0.8em;
}

.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(158, 36%, 37%);
  text-decoration: none;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  width: 100%;
  height: 50px;
  border-radius: 0.5em;
  margin-bottom: 30px;
  cursor: pointer;
}
.add-to-cart-button > img {
  margin-right: 10px;
}
.add-to-cart-button:hover {
  background: hsl(158, 36%, 20%);
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    margin: 10px;
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
